body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(75, 139, 196);
}

.container .taskcontainer {
    padding: 10px;
    margin: 50px 0;
}

.taskcontainer input {
    padding: 10px;
    width: 200px;
}

.taskcontainer button {
    padding: 10px;
}
.listcontainer .item{
    padding: 5px;
    font-size: 22px;
    list-style:decimal;
}